source_env ".envrc.secret"

context=
[[ -f .envrc.context ]] && context=$(< .envrc.context)
watch_file ".envrc.context"

if [[ -n "$context" ]]; then
  context_file=".envrc.$context"
  if [[ -f "$context_file" ]]; then
   echo "Loading context $context"
   source_env "$context_file"
  else
    echo "$context_file missing"
  fi
fi