beautifulsoup4==4.11.2
fastapi==0.92.0
html2text==2020.1.16
httpx[socks]==0.23.3
playwright==1.30.0
pocket==0.3.6
pocket_api==0.1.5
postgrest==0.10.5
protobuf==4.22.0
pydantic==1.10.4
python-dotenv==0.21.1
tqdm==4.64.1
uvicorn==0.20.0
revChatGPT==2.3.3
html5lib==1.1
uvicorn[standard]==0.20.0